version: '3'

services:

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1

  mariadb:
    image: mariadb
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: True
      MARIADB_DATABASE: konserteristockholm
    ports:
      - 3306:3306
    volumes:
      - ./web/sql:/docker-entrypoint-initdb.d

  web:
    build:
      context: .
      dockerfile: web.Dockerfile
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./web:/var/www/html/

  scraper:
    build:
      context: .
      dockerfile: scraper.Dockerfile
    environment:
      api_url: http://web/api/upload.php
      api_key: lejon
