@font-face {
    font-family: Playfair;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: AfacadFlux;
    src: url(AfacadFlux-VariableFont_slnt,wght.ttf);
}


* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background: #8c1414;
    color: #ffc9d1;
}

header {
    width:100%;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    overflow: auto;
}

.container {
    padding: 0;
    margin: 0;
    max-width: 900px;
    margin: auto;
}

header {
    overflow: auto;
    text-align: center;
    padding-bottom: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    overflow: auto;
}

header a {
    text-decoration: none;
}

header h3 {
    margin: 0;
    font-size: 200%;
    display: inline;
    font-weight: bold;
    color: #ffc9d1;
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    overflow: auto;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

header nav a {
    padding: 10px;
    color: #ffc9d1;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:first-of-type {
    padding-left:0px;
}

header nav form {
    margin-top: 5px;
}

.concert-list {
    padding: 0;
}

.concert-header-container {
    display: block;
    height: 60px;
}

.concert-date-header {
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 0;
    padding: 15px;
    display: block;
    background: #8c1414;
    z-index: 10;
}

.concert-date-header.active {
    position: fixed;
    max-width: 900px;
    top: 0;
}

.concert-date {
    position: relative;
    top: -4px;
}

.event-venue-container {
    margin-top: 5px;
}

.event-venue {
    text-decoration: none;
    font-size: 0.9em;
    position: relative;
    top: -7px;
}

.event-description {
    font-size: 0.9em;
}

.concert:nth-of-type(2n) {
    background: #8c1414;
    color: #ffc9d1;
}

.concert:nth-of-type(2n + 1) {
    color: #ffc9d1;
    background: #5C0011;
}

.concert {
    padding: 15px;
    color: white;
}

.concert a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-family: AfacadFlux;
    font-size: 1.2em;
}

.nice-button {
    width: 20%;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 5px;
}

.concert-extras {
    list-style: none;
}

.concert-extras li:before {
    content: '★';
    color: #C00;
}


.info {
    padding: 0 40px;
}

.info a {
    color: white;
}


.search-form {
    margin-top: 20px;
    text-align:center;
}

.search-form input[type="submit"] {
    background: #ffc9d1; 
    border: 0;
    box-shadow:0;
    padding: 10px;
    width: 50px;
}
.search-form input[type="text"] {
    background: #ffc9d1; 
    border: 0;
    box-shadow:0;
    padding: 10px;
}

@media only screen and (min-width: 900px) {
    header {
        margin-top: 20px;
    }

    .search-form {
        position: relative;
        top: -40px;
        float: right;
        z-index: 20;
    }

    .event-title {
        display: inline;
    }

    header {
        text-align: left;
        overflow: show;
        margin-bottom: 0px;
    }

    header nav {
        text-align: left;
        overflow: hidden;
    }

    header nav a {
        padding: 10px;
    }

  }