@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Taviraj', serif;
}

.container, header {
    width:100%;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    overflow: auto;
}

header a {
    text-decoration: none;
}

header h3 {
    margin: 0;
    font-size: 150%;
    color: #C00;
    display: inline;
}

header .info-link {
    text-align: right;
    float: right;
    display: block;
    margin-top:8px;
}

.concert-list {
    padding: 0;
}

.concert-date:nth-of-type(1) {
    margin-top: 0px;
}

.concert-date {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.event-venue {
    text-decoration: none;
    font-weight: 600;
}

/* .event-title {
    display: block;
} */

.event-description {
    font-size: 0.9em;
}

.concert {
    list-style:disc;
    margin-left: 10px;
    margin-bottom: 10px;
}

.concert a {
    color: black;
}

.nice-button {
    width: 20%;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 5px;
}

.concert-extras {
    list-style: none;
}

.concert-extras li:before {
    content: '★';
    color: #C00;
}


.hide-form {
    display: inline;
}

.search-form {
    text-align:center;
}

.search-form input[type="submit"] {
    background:none; 
    box-shadow:0;
    border:1px solid #C00;
    color: #C00;
    padding: 5px;
    width: 50px;
}
.search-form input[type="text"] {
    background:none; 
    box-shadow:0;
    border:1px solid #C00;
    padding:5px;
}

@media only screen and (min-width: 600px) {
    header {
        margin-top: 20px;
    }

    .search-form {
        float:right;
    }

    .event-title {
        display: inline;
    }    
  }